modules = ["nodejs-20"]

run = "node .next/standalone/server.js"

[deployment]
run = ["sh", "-c", "node .next/standalone/server.js"]
buildCommand = "npm run build"
deploymentTarget = "gce"
ignoreRules = []
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 16479591
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node .next/standalone/server.js"

[[ports]]
localPort = 3000
externalPort = 80
